/*:root {
    --dgvHeaderFooter: #5D7B9D;
    --dgvRowOdd: #F7F6F3;
    --dgvRowEven: #FFFFFF;
}*/

/* Estilos de labels*/
.catLabel {
    font-size: 18px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

/* Estiloos para lod drop down list */
.catDropDownList {
    width: 150px;
    font-size: 16px;
    border: 2px solid #f7f6f3;
    border-radius: 5px;
    padding: 3px;
    margin: 0px 10px;
}

/* Estilos de botones */
.catButtonAccept {
    font-size: 16px;
    background-color: #284775;
    color: white;
    margin: 0px 10px;
}

.catButton {
    font-size: 16px;
    background-color: #E2DED6;
    color: black;
    margin: 0px 10px;
}

/* Estilos de Header*/
.catHeader {
    font-size: 24px;
    font-weight: bold;
    color: royalblue;
    width: 100%;
    margin-bottom: 32px;
}

/* Estilos de campos */
.catTable {

}

/* Estilos de los GridView */
.dgvCatalog {

}

    .dgvCatalog tr th {
        background-color: #5d7b9d;
        color: white;
        font-weight: bold;
        padding: 4px;
        height: 17px;
        width: 200px;
    }

    .dgvCatalog td {
        padding: 8px;
        height: 17px;
        width: 200px;
    }


.dgvCatalogRowOdd {
    background-color: #f7f6f3;
    color: #284775;
}

.dgvCatalogRowEven {
    background-color: #ffffff;
    color: #333333;
}

.dgvPaging {
    font-weight: bold;
}

    .dgvPaging a {
        background-color: #5d7b9d;
        padding: 5px 7px;
        text-decoration: none;
        color: #ffffff;
        border: 1px solid #ffffff;
    }

        .dgvPaging a:hover {
            background-color: #9bafc5;
            color: #ffffff;
            border: 1px solid #ffffff;
        }

    .dgvPaging span {
        background-color: #9bafc5;
        padding: 5px 7px;
        color: #ffffff;
        border: 1px solid #ffffff;
    }

tr.dgvPaging {
    background-color: #5D7B9D;
}

/* Estilos para arreglar alineaciones */
.catDivHeader {
    text-align: left;
    margin-bottom: 16px;
}